/*Media Query to change grid to flex at 1300px*/
@media only screen and (max-width: 1300px) {
  .first-div {
    background-image: url("Assets/mobile/image-hero.jpg");
  }
  .first-div header h1 {
    /*Styling for the logo*/
    font-size: 3.5rem;
  }
  .first-div header ol li {
    font-size: 1.2rem;
  }
  .first-div p {
    /*Change font-size of the header main-text*/
    font-size: 6rem;
    width: 100%;
  }
  .second-div {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .second-div .text-vr p:nth-of-type(1) {
    padding: 0;
    font-size: 4.2rem;
    text-align: center;
    margin: 30px 0 30px 0;
  }
  .second-div .text-vr p:nth-of-type(2) {
    padding: 0;
    font-size: 2rem;
    color: #8c8c8c;
    text-align: center;
  }
}

/*Media Queries to change navigation @ 1200px*/
@media only screen and (max-width: 1150px) {
  .first-div header h1 {
    z-index: 2;
  }
  .first-div header nav ol {
    border: thin solid white;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: all 0.4s ease-in-out;
    transform-origin: 90% 12%;
    transform: scale(0);
  }
  .first-div header nav ol li {
    margin-left: 0rem;
    justify-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 3rem;
  }
  .first-div header nav ol li:hover {
    border: thin solid white;
  }
  .first-div header nav ol li::before {
    height: 0px;
  }
  .first-div header ol.active {
    transform: scale(1);
  }
  .first-div header nav .hamburger {
    display: block;
    z-index: 2;
  }
  .first-div header nav .hamburger.active span:nth-child(2) {
    display: none;
  }
  .first-div header nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .first-div header nav .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateX(5px) translateY(-7px);
  }
}

/*Media query to reset the footer div at 1000 pixels*/
@media only screen and (max-width: 1105px) {
  /*Changing the grid to a two-column grid*/
  .our-creations {
    grid-template-rows: 30px 30px repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: fit-content;
  }
  .our-creations .creations {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .see-all {
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    margin-left: 58%;
  }
  .our-creations .deep-earth {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    padding-bottom: 23px;
  }
  .our-creations .night-arcade {
    grid-row: 3 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .soccer-team {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .the-grid {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .from-up {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .pocket-borealis {
    grid-row: 5 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .the-curiosity {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .make-it {
    grid-row: 6 / span 1;
    grid-column: 3 / span 2;
  }
  /*Styling to change the footer grid*/
  footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  footer .container p:nth-of-type(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
  }
  footer .container ol {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    flex-direction: column;
  }
  footer .container ol li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .container ol li::before {
    height: 0px;
  }
  footer .container .footer-images {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    text-align: left;
    text-align: center;
    padding-right: 6%;
  }
  footer .container .footer-images img {
    margin-right: 20px;
  }
  footer .container p:nth-of-type(2) {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    text-align: center;
    padding-right: 6%;
    font-size: 1.5rem;
  }
}

/*Media queries to make text smaller on smaller screens (900px)*/
@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  /*Changing th grid*/
  .our-creations {
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(8, 1fr) 60px;
  }
  .our-creations .creations {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
  }
  .our-creations .deep-earth {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-deep-earth.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .night-arcade {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-night-arcade.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .soccer-team {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-soccer-team.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .the-grid {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-grid.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .from-up {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-from-above.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .pocket-borealis {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-pocket-borealis.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .the-curiosity {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-curiosity.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .make-it {
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-fisheye.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .see-all {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .our-creations .see-all p {
    margin-top: 30px;
  }
  .our-creations .see-all p a {
    font-size: 3rem;
  }
}

/*Media queries to make text smaller on smaller screens (660px)*/
@media only screen and (max-width: 660px) {
  html {
    font-size: 9px;
  }
}

/*Media queries to make text smaller on smaller screens (400px)*/
@media only screen and (max-width: 510px) {
  html {
    font-size: 7.7px;
  }
}

/*Media queries to make text smaller on smaller screens (400px)*/
@media only screen and (max-width: 410px) {
  html {
    font-size: 6.5px;
  }
}

/*Media queries to make text smaller on smaller screens (330px)*/
@media only screen and (max-width: 340px) {
  html {
    font-size: 5.5px;
  }
}

/*Media queries to make text smaller on smaller screens (290px)*/
@media only screen and (max-width: 300px) {
  html {
    font-size: 4.5px;
  }
  footer .container .footer-images .ft-image {
    margin-right: 8px;
  }
}
/*# sourceMappingURL=mediaqueries.css.map */