@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Codes for the boxes*/
html {
  font-size: 16px;
}

body {
  font-family: 'Alata', sans-serif;
}

/*Styling for the first-div*/
.first-div {
  background-image: url("Assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  color: white;
  padding: 0rem 5rem;
  margin-bottom: 80px;
}

.first-div header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 100px;
}

.first-div header h1 {
  font-size: 3vw;
  font-weight: 900;
}

.first-div header h1 a {
  color: white;
  text-decoration: none;
}

.first-div header nav ol {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 4.5px;
}

.first-div header nav ol li {
  list-style-type: none;
  margin-left: 2rem;
  position: relative;
  padding: 8px 1rem;
  overflow: hidden;
  font-size: 1.3vw;
}

.first-div header nav ol li::before {
  content: "";
  position: absolute;
  top: 90%;
  left: -65px;
  width: 30%;
  height: 2px;
  background-color: white;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.first-div header nav ol li:hover::before {
  left: 28px;
}

.first-div header nav ol li a {
  color: white;
  text-decoration: none;
}

.first-div header nav .hamburger {
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 3px;
  display: none;
}

.first-div header nav .hamburger span {
  width: 40px;
  height: 6px;
  display: block;
  margin-bottom: 3px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.first-div p {
  font-size: 5vw;
  margin-right: 40vw;
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid white;
  padding: 1.9rem;
  font-weight: 300;
}

/*Styling for the second div*/
.second-div {
  width: 80%;
  margin: auto;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: minmax(150px, 360px) repeat(10, 1fr);
  margin-bottom: 100px;
  transition: all 0.3s ease-in-out;
}

.second-div .image-vr {
  grid-row: 1 / span 3;
  grid-column: 1 / span 4;
}

.second-div .image-vr .vr-image {
  width: 100%;
  height: 100%;
}

.second-div .text-vr {
  grid-row: 2 / span 2;
  grid-column: 4 / span 10;
  background-color: white;
  padding: 30px 7.5em 30px 4em;
}

.second-div .text-vr p:nth-of-type(1) {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2vw;
  margin-bottom: 15px;
}

.second-div .text-vr p:nth-of-type(2) {
  font-size: 1.1vw;
  color: #8c8c8c;
}

/*Styling for the our-creations grid*/
.our-creations {
  height: 900px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 30px 20px repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 130px;
}

.our-creations .creations {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  padding-top: 7px;
}

.our-creations .creations p {
  font-size: 2.9rem;
  font-family: 'Josefin Sans', sans-serif;
}

.our-creations .see-all {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  padding-top: 15px;
}

.our-creations .see-all p {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.our-creations .see-all p a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: thin solid black;
  padding: 0.8rem 2.8rem;
  transition: all 0.2s ease;
}

.our-creations .see-all p a:hover {
  color: white;
  background-color: black;
}

.our-creations .deep-earth {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-image: url("Assets/desktop/image-deep-earth.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .deep-earth:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .night-arcade {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-image: url("Assets/desktop/image-night-arcade.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .night-arcade:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .soccer-team {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background-image: url("Assets/desktop/image-soccer-team.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .soccer-team:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .the-grid {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  background-image: url("Assets/desktop/image-grid.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .the-grid:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .from-up {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  background-image: url("Assets/desktop/image-from-above.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .from-up:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .pocket-borealis {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background-image: url("Assets/desktop/image-pocket-borealis.jpg");
  transition: all 0.3s ease-in-out;
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .pocket-borealis:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .the-curiosity {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  background-image: url("Assets/desktop/image-curiosity.jpg");
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .the-curiosity:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

.our-creations .make-it {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  background-image: url("Assets/desktop/image-fisheye.jpg");
  padding-top: 14em;
  padding-left: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 300px rgba(0, 0, 3, 0.4);
  cursor: pointer;
}

.our-creations .make-it:hover {
  box-shadow: inset 0 0 0 300px rgba(254, 254, 255, 0.5);
}

/*Styling for the footr div*/
footer {
  background-color: black;
  min-height: 100px;
  color: white;
}

footer .container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.1s ease-in-out;
}

footer .container p:nth-of-type(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding-top: 45px;
  font-size: 2rem;
  font-family: 'Alata', sans-serif;
  font-weight: 800;
}

footer .container ol {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

footer .container ol li {
  list-style-type: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

footer .container ol li::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 25%;
  height: 2px;
  width: 50%;
  background-color: white;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

footer .container ol li:hover::before {
  transform: scale(1);
}

footer .container .footer-images {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-top: 55px;
  text-align: right;
}

footer .container .footer-images img {
  margin-left: 10px;
  padding: 0.4rem 0rem;
}

footer .container .footer-images img:hover {
  border-bottom: thin solid white;
}

footer .container p:nth-of-type(2) {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding-top: 26px;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
}

/*Media Queries*/
/*Media Query to change grid to flex at 1300px*/
@media only screen and (max-width: 1300px) {
  .first-div {
    background-image: url("Assets/mobile/image-hero.jpg");
  }
  .first-div header h1 {
    /*Styling for the logo*/
    font-size: 3.5rem;
  }
  .first-div header ol li {
    font-size: 1.2rem;
  }
  .first-div p {
    /*Change font-size of the header main-text*/
    font-size: 6rem;
    width: 100%;
  }
  .second-div {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .second-div .text-vr p:nth-of-type(1) {
    padding: 0;
    font-size: 4.2rem;
    text-align: center;
    margin: 30px 0 30px 0;
  }
  .second-div .text-vr p:nth-of-type(2) {
    padding: 0;
    font-size: 2rem;
    color: #8c8c8c;
    text-align: center;
  }
}

/*Media Queries to change navigation @ 1200px*/
@media only screen and (max-width: 1150px) {
  .first-div header h1 {
    z-index: 2;
  }
  .first-div header nav ol {
    border: thin solid white;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: all 0.4s ease-in-out;
    transform-origin: 90% 12%;
    transform: scale(0);
  }
  .first-div header nav ol li {
    margin-left: 0rem;
    justify-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 3rem;
  }
  .first-div header nav ol li:hover {
    border: thin solid white;
  }
  .first-div header nav ol li::before {
    height: 0px;
  }
  .first-div header ol.active {
    transform: scale(1);
  }
  .first-div header nav .hamburger {
    display: block;
    z-index: 2;
  }
  .first-div header nav .hamburger.active span:nth-child(2) {
    display: none;
  }
  .first-div header nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .first-div header nav .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateX(5px) translateY(-7px);
  }
}

/*Media query to reset the footer div at 1000 pixels*/
@media only screen and (max-width: 1105px) {
  /*Changing the grid to a two-column grid*/
  .our-creations {
    grid-template-rows: 30px 30px repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: fit-content;
  }
  .our-creations .creations {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .see-all {
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    margin-left: 58%;
  }
  .our-creations .deep-earth {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    padding-bottom: 23px;
  }
  .our-creations .night-arcade {
    grid-row: 3 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .soccer-team {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .the-grid {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .from-up {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .pocket-borealis {
    grid-row: 5 / span 1;
    grid-column: 3 / span 2;
  }
  .our-creations .the-curiosity {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
  }
  .our-creations .make-it {
    grid-row: 6 / span 1;
    grid-column: 3 / span 2;
  }
  /*Styling to change the footer grid*/
  footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  footer .container p:nth-of-type(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
  }
  footer .container ol {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    flex-direction: column;
  }
  footer .container ol li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .container ol li::before {
    height: 0px;
  }
  footer .container .footer-images {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    text-align: left;
    text-align: center;
    padding-right: 6%;
  }
  footer .container .footer-images img {
    margin-right: 20px;
  }
  footer .container p:nth-of-type(2) {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    text-align: center;
    padding-right: 6%;
    font-size: 1.5rem;
  }
}

/*Media queries to make text smaller on smaller screens (900px)*/
@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  /*Changing th grid*/
  .our-creations {
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(8, 1fr) 60px;
  }
  .our-creations .creations {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
  }
  .our-creations .deep-earth {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-deep-earth.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .night-arcade {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-night-arcade.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .soccer-team {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-soccer-team.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .the-grid {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-grid.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .from-up {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-from-above.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .pocket-borealis {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-pocket-borealis.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .the-curiosity {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-curiosity.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .make-it {
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
    background-image: url("Assets/mobile/image-fisheye.jpg");
    padding-top: 200px;
    font-size: 4rem;
  }
  .our-creations .see-all {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .our-creations .see-all p {
    margin-top: 30px;
  }
  .our-creations .see-all p a {
    font-size: 3rem;
  }
}

/*Media queries to make text smaller on smaller screens (660px)*/
@media only screen and (max-width: 660px) {
  html {
    font-size: 9px;
  }
}

/*Media queries to make text smaller on smaller screens (400px)*/
@media only screen and (max-width: 510px) {
  html {
    font-size: 7.7px;
  }
}

/*Media queries to make text smaller on smaller screens (400px)*/
@media only screen and (max-width: 410px) {
  html {
    font-size: 6.5px;
  }
}

/*Media queries to make text smaller on smaller screens (330px)*/
@media only screen and (max-width: 340px) {
  html {
    font-size: 5.5px;
  }
}

/*Media queries to make text smaller on smaller screens (290px)*/
@media only screen and (max-width: 300px) {
  html {
    font-size: 4.5px;
  }
  footer .container .footer-images .ft-image {
    margin-right: 8px;
  }
}
/*# sourceMappingURL=style.css.map */